@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:wght@300;600;800&display=swap');

/* NAV BAR CSS */
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
}

/* STATIC CONTENT */
  .static-content {
    text-align: center;
  }

  .page-content {
    text-align: center;
  }

/* Profile Picture */
.profile-picture {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 10%;
  object-fit: cover;
  margin: 0 auto;
  border: 2px solid black;
}
/* Fonts */
h1 {
font-family: 'Ysabeau Office', sans-serif;
font-size: 75px;
color: #333333;
}

h2 {
font-family: 'Ysabeau Office', sans-serif;
  font-size: 50px;
  color: #333333;
}

h3 {
font-family: 'Ysabeau Office', sans-serif;
  font-size: 30px;
  color: #333333;
  font-style: italic;
}

p {
font-family: 'Ysabeau Office', sans-serif;
font-size: 25px;
color: #444444;

}

.nav-item {
font-family: 'Ysabeau Office', sans-serif;
  font-size: 25px;
}

.home-links {
font-family: 'Ysabeau Office', sans-serif;
    font-size: 25px;
    list-style-type: none;
    padding: 0;
}

/* Background Colour */
body {
  background-color: #F8F8F8;
}

.home-links {
  border: 1px solid black;
   border-radius: 5px;
  margin-left: 15%;
  margin-right: 15%;
}

/* Home Page Buttons GO */
.go-tictactoe {
  background-color: #e63b3b;
  border-radius: 5px;
  color: #fff;
  margin-right: 20px;
}

.go-tictactoe:hover {
  background-color: #ff6060;
  transform: scale(1.1);
}

.go-joke {
  background-color: #e63b3b;
  border-radius: 5px;
  color: #fff;
  margin-right: 20px;
}

.go-joke:hover {
  background-color: #ff6060;
  transform: scale(1.1);
}

.go-weather {
  background-color: #e63b3b;
  border-radius: 5px;
  color: #fff;
  margin-right: 20px;
}

.go-weather:hover {
  background-color: #ff6060;
  transform: scale(1.1);
}

.go-paint {
  background-color: #e63b3b;
  border-radius: 5px;
  color: #fff;
  margin-right: 20px;
}

.go-paint:hover {
  background-color: #ff6060;
  transform: scale(1.1);
}

/* Home Page Buttons INFO */

.info-tictactoe {
    background-color: #3b79e6;
      border-radius: 5px;
      color: #fff;
}

.info-tictactoe:hover {
background-color: #6080ff;
  transform: scale(1.1);
}

.info-joke {
  background-color: #3b79e6;
  border-radius: 5px;
  color: #fff;
}

.info-joke:hover {
  background-color: #6080ff;
  transform: scale(1.1);
}

.info-weather {
  background-color: #3b79e6;
  border-radius: 5px;
  color: #fff;
}

.info-weather:hover {
  background-color: #6080ff;
  transform: scale(1.1);
}

.info-paint {
  background-color: #3b79e6;
  border-radius: 5px;
  color: #fff;
}

.info-paint:hover {
  background-color: #6080ff;
  transform: scale(1.1);
}

/*BLOG(SKILLS) LAYOUT*/

.careerTitle {
  text-align: center;
}

.skills {
  margin-left: 30%;
  text-align: left;
}
.skills-page-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skillsPage,
.careerPage {
  flex-basis: 100%;
  text-align: justify;
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.skillsPage {
  text-align: center;
}

@media (min-width: 768px) {
  .skills-page-content {
    justify-content: center;
    }

  .skillsPage,
  .careerPage {
    flex-basis: 48%;
  }
}