@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:wght@300;600;800&display=swap');

/* NAV BAR CSS */
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
}

/* STATIC CONTENT */
  .static-content {
    text-align: center;
  }

  .page-content {
    text-align: center;
  }

/* Profile Picture */
.profile-picture {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 10%;
  object-fit: cover;
  margin: 0 auto;
  border: 2px solid black;
}
/* Fonts */
h1 {
font-family: 'Ysabeau Office', sans-serif;
font-size: 75px;
color: #333333;
}

h2 {
font-family: 'Ysabeau Office', sans-serif;
  font-size: 50px;
  color: #333333;
}

p {
font-family: 'Ysabeau Office', sans-serif;
font-size: 25px;
color: #444444;

}

.nav-item {
font-family: 'Ysabeau Office', sans-serif;
  font-size: 25px;
}

.home-links {
font-family: 'Ysabeau Office', sans-serif;
    font-size: 25px;
    list-style-type: none;
    padding: 0;
}

/* Background Colour */
body {
  background-color: #F8F8F8;
}