@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.sm-profile {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 15%;
    transition: transform 0.1s ease;
}

.sm-profile:hover {
    transform: scale(1.1);
}

.email-button {
    display: inline-block;
    padding: 1px 20px;
    background-image: url('https://pixy.org/src/10/thumbs350/103675.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    color: red;
    font-family: 'Anton', sans-serif;
    cursor: pointer;
}

.email-button:hover {
    transform: scale(1.1);
}

.email-link {
    display: inline-block;
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.email-link:hover {
    color: #0056b3;
}